@font-face {
	font-family: 'norse';
	src: url(./assets/Norse-Bold.otf);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.container {
	display: flex;
	height: 100vh;
}

.sidebar {
	width: 30vw;
	height: 100%;
	background: center/100% 100% url(./assets/bg.jpg);
	position: relative;
}

.logobar {
	margin-top: 25%;
	width: 100%;
	height: 15%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.logobar p {
	font-family: norse;
	color: white;
	font-size: 5rem;
	padding: 10px;
}

.credits,
.credits a {
	color: white;
}
.credits {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
}

.formbar {
	width: 70vw;
}
